<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.henallux.smartcity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.LoginActivity"
            android:label="@string/loginActivityLabel"
            android:parentActivityName=".View.MainActivity" />
        <activity
            android:name=".View.RegisterActivity"
            android:label="@string/registrationActivityLabel"
            android:parentActivityName=".View.LoginActivity" />
        <activity android:name=".View.HomeActivity" />
        <activity
            android:name=".View.GardensActivity"
            android:label="@string/gardensActivityName"
            android:parentActivityName=".View.HomeActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD_nlRp5JKykNjDJ2YyZgkO5fwhKjJZjoUs" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENCIES"
            android:value="barcode" />

        <activity
            android:name=".View.ScanActivity"
            android:label="@string/scannerActivityLabel">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.henallux.smartcity.View.HomeActivity" />
        </activity>
        <activity
            android:name=".View.GardensInformationActivity"
            android:label="@string/infosLabelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.henallux.smartcity.View.GardensActivity" />
        </activity>
        <activity
            android:name=".View.PlantInformationActivity"
            android:label="@string/infosLabelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.henallux.smartcity.View.ScanActivity" />
        </activity>
        <activity
            android:name=".View.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".View.HomeActivity" />
        <activity
            android:name=".View.ContactActivity"
            android:label="@string/gardensActivityName"
            android:parentActivityName=".View.HomeActivity" />
        <activity
            android:name=".View.UserProfileActivity"
            android:label="@string/profileActivityName"
            android:parentActivityName=".View.HomeActivity" />
        <activity android:name=".View.EventsActivity"
            android:parentActivityName=".View.HomeActivity" />

        <activity android:name=".View.EventsInformationActivity"
            android:parentActivityName=".View.EventsActivity"/>
    </application>

</manifest>